# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.idea/ # For PyCharm users
.vscode/ # For VS Code users

# Database
*.db
*.sqlite
*.sqlite3

# Flask
instance/
.flaskenv

# Testing
.pytest_cache/